
.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: $background_dark;
  min-height: 70px;
  padding: 10px 61px 10px;
}


.logo-container {
  display: flex;
  position: relative;
}

.logo-container:before {
  position: absolute;
  content: "";
  top: 9px;
  width: 175px;
  background-color: white;
  height: 2px;
}

.header_menu-container {
  display: flex;

  > :not(:first-child) {
    margin-left: 12px;
  }
}

@media (max-width: 450px) {
  .header{
    padding: 10px 30px 10px;

    min-width: 320px;
    .custom-link{
      text-align: center;
      width: 130px;
    }
  }
  .header_menu-container {
    height: 35px;
    margin: 0 auto;
  }
  .logo-container{
    margin: 0 auto 10px;
  }
}