
.profile-page-container {

}

.contacts-container {
  font-family: "Open Sans Bold", cursive;
  margin-bottom: 16px;
  position: relative;
  font-size: 17px;
  line-height: 23px;
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: wrap;

  > div {
    min-width: 350px;
  position: relative;
  }
  > div::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    width: 2px;
    height: 130px;
  }
  > div:last-child{
    margin-left: 15px;
  }

  div {
    margin-bottom: 15px;
  }
}
